<div id="text-div">
    <h1>Moeraki Kemu</h1>
</div>
<div id="board">
    <div class="playerpoints">
        <button class="mb5" (click)="startWebsocket()">Websocket starten</button>
        <p>Punkte <span>{{player1}}</span>: </p><textarea rows="1" id="player1Points">0</textarea>
        <p>Punkte <span>{{player2}}</span>: </p><textarea rows="1" id="player2Points">0</textarea>
    </div>
    <table class="gamefield">
        <tr *ngFor="let cell of cells" class="fieldrow">
            <td *ngFor="let celler of cell" (click)="onSendCell(celler)" class="field" id="{{celler.id}}">&nbsp;</td>
        </tr>
    </table>
    <div class="printer">
        <textarea rows="22">{{text}}</textarea>
    </div>
</div>
